{% extends 'base.html' %}
{% block content %}

<body>
    

<header>
    <div class="clr-header">
        <h1>Каталог товаров</h1>
    </div>
</header>

<section style="margin: 40px 0 40px 0;">
    <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 30px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/logout">Выйти</a></li>
                <li class="breadcrumb-item"><a href="/client">Панель клиента</a></li>
                <li class="breadcrumb-item active" aria-current="page">Каталог товаров
                </li>
            </ol>
        </nav>
       <div class="row g-4">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card h-100 shadow-sm">
            <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" class="card-img-top" alt="{{product.name}}">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-count">Количество: {{product.count}} штук</p>
                <p class="card-price">Цена: {{product.price}}₽</p>
                <a href="payment_products.html" class="btn btn-primary btn-buy mt-auto">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    </div>

</section>

</body>



{% endblock %}