{% extends 'base.html' %}
{% block content %}

<body>
    

<header>
    <div class="clr-header">
        <h1>Каталог товаров</h1>
    </div>
</header>

<section style="margin: 40px 0 40px 0;">
    <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 30px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/logout">Выйти</a></li>
                <li class="breadcrumb-item"><a href="/client">Панель клиента</a></li>
                <li class="breadcrumb-item active" aria-current="page">Каталог товаров
                </li>
            </ol>
        </nav>
        <div class="row g-4">
            <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card h-100 shadow-sm">
           <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
          <div class="card-body">
            <h5 class="card-title">Товар 1</h5>
            <p class="card-text">Описание товара.</p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">$10</span>
              <button class="btn btn-sm btn-primary">Купить</button>
            </div>
          </div>
        </div>
      </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem; ">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>


            <div class="card col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>
            <div class="card  col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>
            <div class="card  col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <img style="border-radius: inherit;" src="https://imgholder.ru/286x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" />
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <p class="card-count">Количество 5шт.</p>
                    <p class="card-price">Цена $$$</p>
                    <a href="payment_products.html" class="btn btn-primary btn-buy">Купить</a>
                </div>
            </div>
      
            
            
        </div>

    </div>

</section>

</body>



{% endblock %}